<div [className]="'table'">
  <div [className]="'column'">
    <h2 [className]="'names'">Product Id</h2>
    <div [className]="'scroll-block'">
      <p [className]="'text-obj-name'" *ngFor="let obj of data" (click)="renderDescription(obj)">
        {{obj[id]}}
      </p>
    </div>
  </div>
  <div [className]="'column'">
    <h2 [className]="'descriptions'">Product Descriptions</h2>
    <div *ngIf="_object" [className]="'desc-block'">
      <div [className]="'desc-text-block'" *ngFor="let col of info">
        <span><b>{{col}}:</b></span>
        <p *ngIf="_object[col] === null; then ifBlock else elseBlock"></p>
        <ng-template #ifBlock>
          <p>It's unknown</p>
        </ng-template>
        <ng-template #elseBlock>
          <p>{{_object[col]}}</p>
        </ng-template>
      </div>
      <button type="button" [className]="'close-btn'" (click)="close()">Close</button>
    </div>
  </div>
</div>
